<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="js/vue.min.js"></script>
<div id="app">
<input type="text" v-model="name">
    <span>我的姓氏是:{{ lastname }}</span>
    <span>我的名字是:{{ firstname }}</span>

    <input type="number" v-model="number">
    <span>十位是:{{ shi }}</span>
    <span>个位是:{{ ge }}</span>
</div>
<hr>
<script>
    new Vue({
        el: "#app",//用来定义vue的作用范围
        //用来给vue实例定义一些相关的数据
        data: {
            name:'张园',
            firstname:'园',
            lastname:'张',
            number:36,
            shi:3,
            ge:6,
        },
        watch:{
            name(){
                this.firstname = this.name.split(' ')[1]
                this.lastname = this.name.split(' ')[0]
            },
            number(){
              this.shi=parseInt(this.number/10)
              this.ge=this.number%10
            }
        }
    })
</script>

</body>
</html>