<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="js/vue.min.js"></script>
<div id="app">
<!--<h3>{{ user.name }}=={{ user.age }}=={{ user.pwd }}</h3>-->
    <!--<span v-for="(value) in user">{{ value }} </span>-->
<ul>
    <li><span v-for="(value,key,index) in user" :key="index">{{ key }}===={{ value }}==={{ index }}<br></span></li>
</ul>
<ul v-for="(city,index) in arr">
    <li>{{index+1 }}:{{ city }}</li>
</ul>

<ul v-for="(user,index) in users" :key="index">
    <li>
    {{ index+1 }}:{{ user.name }},{{ user.age }},{{ user.pwd }}
    </li>
</ul>

</div>
<hr>
<script>
    new Vue({
        el: "#app",//用来定义vue的作用范围
        //用来给vue实例定义一些相关的数据
        data: {
            user:{name:"张园",age:18,pwd:12346789}
            arr:['北京','上海','太原','运城'],
            users:[{name:"张园",age:18,pwd:12346789},
                   {name:"许金",age:18,pwd:12346789},
                   {name:"郑卓琳",age:18,pwd:12346789},
                   {name:"杨洋",age:18,pwd:12346789},
            ]
        }
    })
</script>

</body>
</html>